I am not that big into soccer but every 4 years I will watch the World Cup and I look forward to shoot outs because of the high pressure. I do watch the Champions league as well but it seems like that the a lot of matches end in a shoot out so I wanted to see if there is a higher chance for a game to end in a shoot out in the World Cup vs other matches.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv("fifa_world_cup.csv")

In [3]:
dataset.columns

Index(['date', 'home_team', 'away_team', 'home_team_continent',
       'away_team_continent', 'home_team_fifa_rank', 'away_team_fifa_rank',
       'home_team_total_fifa_points', 'away_team_total_fifa_points',
       'home_team_score', 'away_team_score', 'tournament', 'city', 'country',
       'neutral_location', 'shoot_out', 'home_team_result',
       'home_team_goalkeeper_score', 'away_team_goalkeeper_score',
       'home_team_mean_defense_score', 'home_team_mean_offense_score',
       'home_team_mean_midfield_score', 'away_team_mean_defense_score',
       'away_team_mean_offense_score', 'away_team_mean_midfield_score'],
      dtype='object')

In [4]:
fifa_world_cup = dataset[dataset['tournament'] == 'FIFA World Cup']

In [5]:
fifa_world_cup

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
385,1994-06-17,Germany,Bolivia,Europe,South America,1,43,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386,1994-06-17,Spain,Korea Republic,Europe,Asia,5,37,0,0,2,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,1994-06-18,Colombia,Romania,South America,Europe,17,7,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,1994-06-18,Italy,Republic of Ireland,Europe,Europe,4,14,0,0,0,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,1994-06-18,USA,Switzerland,North America,Europe,23,12,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20445,2018-07-07,Russia,Croatia,Europe,Europe,49,12,1758,2036,2,...,Yes,Lose,79.0,85.0,78.5,79.7,79.8,80.8,79.3,85.8
20446,2018-07-10,France,Belgium,Europe,Europe,2,5,2164,2124,1,...,No,Win,88.0,89.0,84.0,86.3,86.2,83.5,87.3,85.8
20447,2018-07-11,Croatia,England,Europe,Europe,12,7,2036,2099,2,...,No,Win,85.0,82.0,80.8,79.3,85.8,82.8,83.3,82.8
20448,2018-07-14,Belgium,England,Europe,Europe,5,7,2124,2099,2,...,No,Win,89.0,82.0,83.5,87.3,85.8,82.8,83.3,82.8
20449,2018-07-15,France,Croatia,Europe,Europe,2,12,2164,2036,4,...,No,Win,88.0,85.0,84.0,86.3,86.2,80.8,79.3,85.8

In [20]:
Games_without_draw = fifa_world_cup[fifa_world_cup['home_team_result'] != 'Draw']

In [21]:
Games_without_draw

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
385,1994-06-17,Germany,Bolivia,Europe,South America,1,43,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,1994-06-18,Colombia,Romania,South America,Europe,17,7,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,1994-06-18,Italy,Republic of Ireland,Europe,Europe,4,14,0,0,0,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,1994-06-19,Belgium,Morocco,Europe,Africa,27,28,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,1994-06-19,Norway,Mexico,Europe,North America,6,16,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20445,2018-07-07,Russia,Croatia,Europe,Europe,49,12,1758,2036,2,...,Yes,Lose,79.0,85.0,78.5,79.7,79.8,80.8,79.3,85.8
20446,2018-07-10,France,Belgium,Europe,Europe,2,5,2164,2124,1,...,No,Win,88.0,89.0,84.0,86.3,86.2,83.5,87.3,85.8
20447,2018-07-11,Croatia,England,Europe,Europe,12,7,2036,2099,2,...,No,Win,85.0,82.0,80.8,79.3,85.8,82.8,83.3,82.8
20448,2018-07-14,Belgium,England,Europe,Europe,5,7,2124,2099,2,...,No,Win,89.0,82.0,83.5,87.3,85.8,82.8,83.3,82.8
20449,2018-07-15,France,Croatia,Europe,Europe,2,12,2164,2036,4,...,No,Win,88.0,85.0,84.0,86.3,86.2,80.8,79.3,85.8

In [22]:
Games_without_draw['shoot_out'].value_counts()

No     330
Yes     22
Name: shoot_out, dtype: int64

When looking at World Cup games ending in shoot outs they end in a shoot out around 6.25% of the time.

In [23]:
Non_world_cup = dataset[dataset['tournament'] != 'FIFA World Cup']

In [24]:
Non_world_cup

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [25]:
Non_Fifa_without_draw = Non_world_cup[Non_world_cup['home_team_result'] != 'Draw']

In [26]:
Non_Fifa_without_draw

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1993-08-08,Peru,Colombia,South America,South America,70,19,0,0,0,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [28]:
Non_Fifa_without_draw['shoot_out'].value_counts()

No     17870
Yes      310
Name: shoot_out, dtype: int64

In non World Cup games there are 1.7% of them that end in a shoot out. By comparing the data we can see that there is a significant increase in matches that end in shoot outs at the World Cup compared to other matches.