In [27]:
import pandas as pd
import numpy as np

df = pd.read_csv('/Users/Mirzafamily/Desktop/DS311-Group-Project-Documentation/sport/fifa_worldcup.csv')

In [13]:
#NA Report
ls = list(df.columns)
for x in ls:
  if sum(df[x].isna()) > 0:
    print(x)
    print(sum(df[x].isna()))
    print()

home_team_goalkeeper_score
15542

away_team_goalkeeper_score
15826

home_team_mean_defense_score
16134

home_team_mean_offense_score
15411

home_team_mean_midfield_score
15759

away_team_mean_defense_score
16357

away_team_mean_offense_score
15609

away_team_mean_midfield_score
15942

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23921 entries, 0 to 23920
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           23921 non-null  object
 1   home_team                      23921 non-null  object
 2   away_team                      23921 non-null  object
 3   home_team_continent            23921 non-null  object
 4   away_team_continent            23921 non-null  object
 5   home_team_fifa_rank            23921 non-null  int64
 6   away_team_fifa_rank            23921 non-null  int64
 7   home_team_total_fifa_points    23921 non-null  int64
 8   away_team_total_fifa_points    23921 non-null  int64
 9   home_team_score                23921 non-null  int64
 10  away_team_score                23921 non-null  int64
 11  tournament                     23921 non-null  object
 12  city                           23921 non-null  object
 13  country                        23921 non-null  object
 14  neutral_location               23921 non-null  bool
 15  shoot_out                      23921 non-null  object
 16  home_team_result               23921 non-null  object
 17  home_team_goalkeeper_score     8379 non-null   float64
 18  away_team_goalkeeper_score     8095 non-null   float64
 19  home_team_mean_defense_score   7787 non-null   float64
 20  home_team_mean_offense_score   8510 non-null   float64
 21  home_team_mean_midfield_score  8162 non-null   float64
 22  away_team_mean_defense_score   7564 non-null   float64
 23  away_team_mean_offense_score   8312 non-null   float64
 24  away_team_mean_midfield_score  7979 non-null   float64
dtypes: bool(1), float64(8), int64(6), object(10)
memory usage: 4.4+ MB

In [33]:
df.groupby('neutral_location')['country'].count() #T/F games played in neutral location

neutral_location
False    17947
True      5974
Name: country, dtype: int64

## Away teams with their corresponding average away defense score

In [82]:
awayd = df.groupby('away_team')['away_team_mean_defense_score'].mean() 
df_away =awayd.to_frame() #Series to Dataframe

                away_team_mean_defense_score
away_team
Afghanistan                              NaN
Albania                            72.511905
Algeria                            74.587179
American Samoa                           NaN
Andorra                                  NaN
...                                      ...
Vietnam                                  NaN
Wales                              74.796053
Yemen                                    NaN
Zambia                                   NaN
Zimbabwe                           62.638235

[211 rows x 1 columns]

# Top 10

In [93]:
df_away.sort_values(by = 'away_team_mean_defense_score', ascending = False).head(10)

             away_team_mean_defense_score
away_team
Brazil                          86.086364
Spain                           85.427193
Italy                           85.124742
Germany                         84.671429
England                         84.640426
France                          84.132258
Argentina                       83.353636
Portugal                        82.896154
Belgium                         81.153409
Netherlands                     80.681250

In [94]:
homed = df.groupby('home_team')['home_team_mean_defense_score'].mean() 
df_home = homed.to_frame() #Series to Dataframe

In [95]:
df_home.sort_values(by = 'home_team_mean_defense_score',ascending = False).head(10)

             home_team_mean_defense_score
home_team
Brazil                          85.785185
Spain                           85.585366
Italy                           84.960902
England                         84.733607
Germany                         84.700694
France                          84.047887
Portugal                        82.887705
Argentina                       82.646721
Belgium                         81.304717
Netherlands                     80.776423