In [74]:
# libraries 

import pandas as pd 
import numpy as np 
import datetime
# Loading file 

sport_data_to_load = "fifa_world_cup.csv"

# Read Sport Data file and store into Pandas Data FRame

sport_data = pd.read_csv(sport_data_to_load)

sport_data

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [75]:
#print(sport_data.head())
print(sport_data.iloc[0,1])

Bolivia

In [76]:
# task 5 - What team has the longest winning streak ??
# 1- Creer une liste de tous les pays unique 
# 2- parcourir cette liste et si on le trouve dans home ou away ET que le resultat convient incrémenter le compteur et stocker dans une nouvelle liste.
# 3- sortir les + grands compteurs de la liste et envoyer le nom du pays de l'indice qui convient dans la liste des pays


sport_data['home_team'].unique()
# type(sport_data['home_team'].unique())

array(['Bolivia', 'Brazil', 'Ecuador', 'Guinea', 'Paraguay', 'Peru',
       'Zimbabwe', 'Faroe Islands', 'Sweden', 'Australia', 'Colombia',
       'Congo', 'Uruguay', 'Argentina', 'Austria', 'Denmark', 'Iceland',
       'Estonia', 'Eswatini', 'Albania', 'Bulgaria', 'England', 'Finland',
       'Hungary', 'Republic of Ireland', 'Northern Ireland', 'Norway',
       'Scotland', 'Spain', 'Venezuela', 'Morocco', 'Saudi Arabia',
       'Mexico', 'Romania', 'San Marino', 'Tunisia', 'Korea Republic',
       'Nigeria', 'Zambia', 'Japan', 'Cyprus', 'Belgium', 'Algeria',
       'Cameroon', 'Luxembourg', 'France', 'Germany', 'Italy',
       'Netherlands', 'Poland', 'Portugal', 'USA', 'Wales', 'Korea DPR',
       'IR Iran', 'Iraq', 'Burundi', 'Liechtenstein',
       'United Arab Emirates', 'Israel', 'Turkey', 'Egypt', 'Gabon',
       'Greece', 'Malta', 'Switzerland', 'Gambia', 'Sierra Leone',
       'Guinea-Bissau', 'Senegal', 'Mali', 'Ghana', 'Tahiti', 'Kenya',
       'Tanzania', 'Bangladesh', 'Barbados', 'Mauritania', 'Thailand',
       'Costa Rica', 'Suriname', 'Grenada', 'Qatar', 'Burkina Faso',
       "Côte d'Ivoire", 'Oman', 'Slovenia', 'Malawi', 'Cayman Islands',
       'Dominican Republic', 'Angola', 'Trinidad and Tobago', 'Lithuania',
       'Slovakia', 'South Africa', 'Kuwait', 'El Salvador', 'Honduras',
       'Chile', 'Fiji', 'Czech Republic', 'Ukraine', 'Russia', 'Canada',
       'North Macedonia', 'Latvia', 'Croatia', 'Botswana',
       'Solomon Islands', 'Vanuatu', 'Armenia', 'Georgia', 'Myanmar',
       'Niger', 'Namibia', 'Ethiopia', 'Liberia', 'Madagascar', 'Sudan',
       'India', 'Malaysia', 'Belarus', 'Moldova', 'Uganda', 'Mozambique',
       'Togo', 'Bahrain', 'Lesotho', 'Azerbaijan', 'Jamaica', 'Vietnam',
       'Mauritius', 'China PR', 'Hong Kong', 'New Zealand', 'Nepal',
       'Pakistan', 'Lebanon', 'Sri Lanka', 'Syria', 'Guyana', 'St. Lucia',
       'St. Kitts and Nevis', 'Antigua and Barbuda', 'Cuba',
       'St. Vincent and the Grenadines', 'Indonesia', 'Uzbekistan',
       'Panama', 'Nicaragua', 'Cabo Verde', 'Dominica', 'Guatemala',
       'Yemen', 'Philippines', 'Kyrgyz Republic', 'Macau', 'Turkmenistan',
       'Aruba', 'Haiti', 'Tajikistan', 'Belize', 'Rwanda', 'Kazakhstan',
       'Maldives', 'Singapore', 'Benin', 'Jordan', 'Seychelles',
       'Cambodia', 'Laos', 'Brunei Darussalam',
       'Central African Republic', 'Bosnia and Herzegovina', 'Tonga',
       'Papua New Guinea', 'Libya', 'Andorra', 'Chad',
       'Equatorial Guinea', 'Cook Islands', 'Samoa',
       'British Virgin Islands', 'Bermuda', 'Eritrea', 'Somalia',
       'São Tomé and Príncipe', 'Congo DR', 'US Virgin Islands',
       'Anguilla', 'Puerto Rico', 'Bahamas', 'Montserrat', 'Palestine',
       'Djibouti', 'American Samoa', 'Mongolia', 'Bhutan', 'Guam',
       'Afghanistan', 'Turks and Caicos Islands', 'Serbia',
       'New Caledonia', 'Montenegro', 'Timor-Leste', 'Comoros',
       'Chinese Taipei', 'Curaçao', 'South Sudan', 'Kosovo', 'Gibraltar'],
      dtype=object)

In [77]:
teams = sport_data['home_team'].unique().tolist()
teams

['Bolivia',
 'Brazil',
 'Ecuador',
 'Guinea',
 'Paraguay',
 'Peru',
 'Zimbabwe',
 'Faroe Islands',
 'Sweden',
 'Australia',
 'Colombia',
 'Congo',
 'Uruguay',
 'Argentina',
 'Austria',
 'Denmark',
 'Iceland',
 'Estonia',
 'Eswatini',
 'Albania',
 'Bulgaria',
 'England',
 'Finland',
 'Hungary',
 'Republic of Ireland',
 'Northern Ireland',
 'Norway',
 'Scotland',
 'Spain',
 'Venezuela',
 'Morocco',
 'Saudi Arabia',
 'Mexico',
 'Romania',
 'San Marino',
 'Tunisia',
 'Korea Republic',
 'Nigeria',
 'Zambia',
 'Japan',
 'Cyprus',
 'Belgium',
 'Algeria',
 'Cameroon',
 'Luxembourg',
 'France',
 'Germany',
 'Italy',
 'Netherlands',
 'Poland',
 'Portugal',
 'USA',
 'Wales',
 'Korea DPR',
 'IR Iran',
 'Iraq',
 'Burundi',
 'Liechtenstein',
 'United Arab Emirates',
 'Israel',
 'Turkey',
 'Egypt',
 'Gabon',
 'Greece',
 'Malta',
 'Switzerland',
 'Gambia',
 'Sierra Leone',
 'Guinea-Bissau',
 'Senegal',
 'Mali',
 'Ghana',
 'Tahiti',
 'Kenya',
 'Tanzania',
 'Bangladesh',
 'Barbados',
 'Mauritania',
 'Thailand',
 'Costa Rica',
 'Suriname',
 'Grenada',
 'Qatar',
 'Burkina Faso',
 "Côte d'Ivoire",
 'Oman',
 'Slovenia',
 'Malawi',
 'Cayman Islands',
 'Dominican Republic',
 'Angola',
 'Trinidad and Tobago',
 'Lithuania',
 'Slovakia',
 'South Africa',
 'Kuwait',
 'El Salvador',
 'Honduras',
 'Chile',
 'Fiji',
 'Czech Republic',
 'Ukraine',
 'Russia',
 'Canada',
 'North Macedonia',
 'Latvia',
 'Croatia',
 'Botswana',
 'Solomon Islands',
 'Vanuatu',
 'Armenia',
 'Georgia',
 'Myanmar',
 'Niger',
 'Namibia',
 'Ethiopia',
 'Liberia',
 'Madagascar',
 'Sudan',
 'India',
 'Malaysia',
 'Belarus',
 'Moldova',
 'Uganda',
 'Mozambique',
 'Togo',
 'Bahrain',
 'Lesotho',
 'Azerbaijan',
 'Jamaica',
 'Vietnam',
 'Mauritius',
 'China PR',
 'Hong Kong',
 'New Zealand',
 'Nepal',
 'Pakistan',
 'Lebanon',
 'Sri Lanka',
 'Syria',
 'Guyana',
 'St. Lucia',
 'St. Kitts and Nevis',
 'Antigua and Barbuda',
 'Cuba',
 'St. Vincent and the Grenadines',
 'Indonesia',
 'Uzbekistan',
 'Panama',
 'Nicaragua',
 'Cabo Verde',
 'Dominica',
 'Guatemala',
 'Yemen',
 'Philippines',
 'Kyrgyz Republic',
 'Macau',
 'Turkmenistan',
 'Aruba',
 'Haiti',
 'Tajikistan',
 'Belize',
 'Rwanda',
 'Kazakhstan',
 'Maldives',
 'Singapore',
 'Benin',
 'Jordan',
 'Seychelles',
 'Cambodia',
 'Laos',
 'Brunei Darussalam',
 'Central African Republic',
 'Bosnia and Herzegovina',
 'Tonga',
 'Papua New Guinea',
 'Libya',
 'Andorra',
 'Chad',
 'Equatorial Guinea',
 'Cook Islands',
 'Samoa',
 'British Virgin Islands',
 'Bermuda',
 'Eritrea',
 'Somalia',
 'São Tomé and Príncipe',
 'Congo DR',
 'US Virgin Islands',
 'Anguilla',
 'Puerto Rico',
 'Bahamas',
 'Montserrat',
 'Palestine',
 'Djibouti',
 'American Samoa',
 'Mongolia',
 'Bhutan',
 'Guam',
 'Afghanistan',
 'Turks and Caicos Islands',
 'Serbia',
 'New Caledonia',
 'Montenegro',
 'Timor-Leste',
 'Comoros',
 'Chinese Taipei',
 'Curaçao',
 'South Sudan',
 'Kosovo',
 'Gibraltar']

In [78]:
len(teams)

211

In [79]:
sport_data['home_team_result'].groupby(sport_data['home_team']).count()

home_team
Afghanistan        36
Albania           131
Algeria           159
American Samoa     17
Andorra            97
                 ...
Vietnam           120
Wales             129
Yemen              87
Zambia            180
Zimbabwe          135
Name: home_team_result, Length: 211, dtype: int64

In [ ]:
cmp = 0 
teams = sport_data['home_team'].unique().tolist()
lcmp = []
mcmp = []
date = []
datestreak = []
c = 0

for x in teams : 
    for i in range(len(sport_data)):
        if ((x == sport_data.iloc[i,1]) and (sport_data.iloc[i, 16] == 'Win')) or (x == sport_data.iloc[i,2]) and ((sport_data.iloc[i,16] == 'Lose')) :
            cmp = cmp+1
            c = 0
        if (x != sport_data.iloc[i,1]) or (x != sport_data.iloc[i,2]):
            c = c+1
        if ((x == sport_data.iloc[i,1]) and (sport_data.iloc[i,16] == 'Lose')) or ((x == sport_data.iloc[i,2]) and (sport_data.iloc[i,16] == 'Win')):
            lcmp.append(cmp)
            date.append(sport_data.iloc[i-c,0])
            cmp = 0 
            c = 0
      
    mcmp.append(max(lcmp))
    datestreak.append(date[lcmp.index(max(lcmp))])
    lcmp=[]
    date=[]

In [80]:
print(mcmp)
print(teams)
print(datestreak)
print(len(mcmp))
print(len(teams))
print(len(datestreak))

[7, 21, 11, 7, 10, 9, 7, 2, 12, 15, 9, 5, 11, 12, 24, 9, 6, 3, 5, 5, 6, 12, 5, 7, 10, 6, 11, 8, 33, 6, 15, 14, 12, 11, 1, 8, 14, 9, 7, 13, 5, 19, 18, 11, 3, 18, 17, 30, 20, 9, 16, 11, 6, 9, 14, 12, 5, 2, 17, 5, 10, 11, 7, 11, 4, 10, 4, 7, 3, 17, 12, 8, 7, 7, 5, 6, 8, 3, 12, 10, 5, 4, 9, 7, 13, 7, 6, 6, 3, 6, 9, 7, 3, 9, 10, 7, 7, 8, 8, 5, 14, 10, 14, 10, 6, 4, 12, 5, 5, 3, 6, 5, 7, 3, 5, 10, 4, 8, 8, 11, 6, 5, 4, 10, 5, 9, 7, 6, 4, 10, 9, 3, 15, 5, 8, 6, 3, 8, 4, 7, 10, 5, 5, 6, 8, 9, 8, 8, 8, 4, 7, 4, 12, 7, 4, 6, 2, 10, 4, 6, 6, 3, 6, 4, 6, 9, 4, 7, 3, 4, 3, 2, 2, 8, 3, 3, 8, 2, 3, 3, 2, 2, 2, 4, 2, 2, 2, 7, 2, 1, 3, 4, 4, 8, 3, 2, 2, 2, 2, 5, 1, 7, 6, 6, 2, 3, 4, 5, 3, 10, 2]
['Bolivia', 'Brazil', 'Ecuador', 'Guinea', 'Paraguay', 'Peru', 'Zimbabwe', 'Faroe Islands', 'Sweden', 'Australia', 'Colombia', 'Congo', 'Uruguay', 'Argentina', 'Austria', 'Denmark', 'Iceland', 'Estonia', 'Eswatini', 'Albania', 'Bulgaria', 'England', 'Finland', 'Hungary', 'Republic of Ireland', 'Northern Ireland', 'Norway', 'Scotland', 'Spain', 'Venezuela', 'Morocco', 'Saudi Arabia', 'Mexico', 'Romania', 'San Marino', 'Tunisia', 'Korea Republic', 'Nigeria', 'Zambia', 'Japan', 'Cyprus', 'Belgium', 'Algeria', 'Cameroon', 'Luxembourg', 'France', 'Germany', 'Italy', 'Netherlands', 'Poland', 'Portugal', 'USA', 'Wales', 'Korea DPR', 'IR Iran', 'Iraq', 'Burundi', 'Liechtenstein', 'United Arab Emirates', 'Israel', 'Turkey', 'Egypt', 'Gabon', 'Greece', 'Malta', 'Switzerland', 'Gambia', 'Sierra Leone', 'Guinea-Bissau', 'Senegal', 'Mali', 'Ghana', 'Tahiti', 'Kenya', 'Tanzania', 'Bangladesh', 'Barbados', 'Mauritania', 'Thailand', 'Costa Rica', 'Suriname', 'Grenada', 'Qatar', 'Burkina Faso', "Côte d'Ivoire", 'Oman', 'Slovenia', 'Malawi', 'Cayman Islands', 'Dominican Republic', 'Angola', 'Trinidad and Tobago', 'Lithuania', 'Slovakia', 'South Africa', 'Kuwait', 'El Salvador', 'Honduras', 'Chile', 'Fiji', 'Czech Republic', 'Ukraine', 'Russia', 'Canada', 'North Macedonia', 'Latvia', 'Croatia', 'Botswana', 'Solomon Islands', 'Vanuatu', 'Armenia', 'Georgia', 'Myanmar', 'Niger', 'Namibia', 'Ethiopia', 'Liberia', 'Madagascar', 'Sudan', 'India', 'Malaysia', 'Belarus', 'Moldova', 'Uganda', 'Mozambique', 'Togo', 'Bahrain', 'Lesotho', 'Azerbaijan', 'Jamaica', 'Vietnam', 'Mauritius', 'China PR', 'Hong Kong', 'New Zealand', 'Nepal', 'Pakistan', 'Lebanon', 'Sri Lanka', 'Syria', 'Guyana', 'St. Lucia', 'St. Kitts and Nevis', 'Antigua and Barbuda', 'Cuba', 'St. Vincent and the Grenadines', 'Indonesia', 'Uzbekistan', 'Panama', 'Nicaragua', 'Cabo Verde', 'Dominica', 'Guatemala', 'Yemen', 'Philippines', 'Kyrgyz Republic', 'Macau', 'Turkmenistan', 'Aruba', 'Haiti', 'Tajikistan', 'Belize', 'Rwanda', 'Kazakhstan', 'Maldives', 'Singapore', 'Benin', 'Jordan', 'Seychelles', 'Cambodia', 'Laos', 'Brunei Darussalam', 'Central African Republic', 'Bosnia and Herzegovina', 'Tonga', 'Papua New Guinea', 'Libya', 'Andorra', 'Chad', 'Equatorial Guinea', 'Cook Islands', 'Samoa', 'British Virgin Islands', 'Bermuda', 'Eritrea', 'Somalia', 'São Tomé and Príncipe', 'Congo DR', 'US Virgin Islands', 'Anguilla', 'Puerto Rico', 'Bahamas', 'Montserrat', 'Palestine', 'Djibouti', 'American Samoa', 'Mongolia', 'Bhutan', 'Guam', 'Afghanistan', 'Turks and Caicos Islands', 'Serbia', 'New Caledonia', 'Montenegro', 'Timor-Leste', 'Comoros', 'Chinese Taipei', 'Curaçao', 'South Sudan', 'Kosovo', 'Gibraltar']
['1997-06-22', '1995-07-19', '1993-08-08', '2006-01-30', '1997-06-11', '2018-06-03', '2003-10-22', '1997-06-08', '2001-10-07', '1997-12-07', '1996-11-01', '2012-06-09', '2012-06-10', '2002-06-01', '1993-08-22', '1995-11-15', '1999-06-05', '2000-08-16', '1999-08-14', '2010-09-06', '1997-09-10', '2015-10-12', '2002-01-10', '2021-06-04', '2001-11-10', '2016-05-27', '1999-10-09', '2020-11-12', '2009-06-20', '2022-06-12', '2021-12-07', '2004-06-09', '2005-06-19', '2007-09-07', '2004-04-28', '1998-02-04', '2009-10-14', '2013-06-16', '1999-08-07', '2011-11-11', '1998-09-05', '2018-07-06', '2022-01-04', '2001-04-21', '2018-09-11', '2004-06-21', '1998-02-22', '2021-09-08', '2010-07-03', '2022-06-14', '2006-07-01', '2005-03-19', '2003-03-29', '2012-12-09', '2022-02-01', '2000-09-02', '1998-12-06', '2020-10-07', '2013-11-19', '1998-05-17', '1996-02-14', '2001-03-11', '1999-11-14', '2004-03-31', '2022-06-12', '2013-10-15', '2021-03-25', '1996-01-15', '2019-11-13', '2017-11-14', '2004-02-07', '1999-11-12', '1996-05-11', '2003-06-13', '2001-12-13', '2003-01-19', '2000-05-20', '2013-02-14', '1996-09-15', '2009-02-11', '2021-06-04', '1996-03-31', '2021-07-24', '2013-02-06', '2010-01-14', '2001-07-29', '1994-04-27', '2002-08-08', '2019-11-16', '2012-12-06', '2005-02-22', '1996-06-23', '2022-06-13', '2015-06-14', '2017-06-10', '2010-12-30', '2011-11-15', '2008-06-07', '2015-10-13', '2001-02-06', '2003-11-15', '2013-11-15', '1996-06-02', '2000-06-04', '2018-10-13', '2008-06-01', '2007-10-16', '2010-09-03', '2004-05-29', '2004-05-19', '2021-03-31', '1998-02-10', '2022-06-09', '2015-10-13', '2015-05-30', '2006-10-03', '1995-06-04', '2017-07-23', '2007-12-18', '2017-10-10', '2000-11-13', '2004-10-09', '2008-02-06', '2011-01-05', '1995-07-16', '2005-10-08', '2008-06-02', '1994-11-13', '1998-08-09', '1998-02-09', '2018-12-31', '2018-05-28', '2004-08-03', '2003-03-24', '2013-09-05', '2011-04-07', '2005-12-09', '2018-09-06', '2002-03-31', '2015-09-08', '2006-11-28', '2000-03-05', '2002-11-13', '2011-11-11', '1996-06-02', '2004-02-08', '2010-12-18', '2016-03-29', '1995-10-29', '2015-12-08', '1995-11-15', '2010-10-15', '2021-07-03', '1994-09-13', '2013-06-04', '2018-03-27', '2022-06-11', '2004-03-31', '2015-01-28', '2012-12-10', '2011-07-28', '2002-04-17', '2000-11-21', '1997-06-29', '2022-06-13', '2005-10-09', '2014-07-19', '2004-03-31', '2022-06-14', '2016-10-18', '2008-10-25', '2022-03-27', '1999-11-13', '2013-06-07', '2022-06-14', '2002-03-17', '2012-08-26', '2022-03-27', '1999-11-13', '2015-01-31', '1998-08-31', '2002-03-14', '2001-03-24', '2004-03-31', '2007-06-16', '2009-01-02', '2000-04-08', '2003-08-19', '2011-07-09', '2022-06-06', '2008-03-26', '2022-06-12', '2019-09-07', '2017-11-14', '2022-06-14', '2015-09-03', '2011-06-29', '2015-03-15', '2015-06-16', '2014-05-04', '2006-09-04', '2022-03-24', '2008-06-21', '2011-03-25', '2018-08-29', '2021-11-13', '2018-03-27', '2016-10-11', '2017-04-29', '2019-09-07', '2018-10-16']
211
211
211

In [81]:
l = [12,14,200,3]
m = ["manger","toucher","tuer","prier"]
x = []
x.append(m[l.index(max(l))])
print(x)

['tuer']

In [ ]:
#print(mcmp)
#print(date)
#len(date)

In [ ]:
print(mcmp.index(max(mcmp)))
print(teams[2])

2
Ecuador

Task 5 result : 
We found that Ecuador is the team with the longest winning streak : 29 matchs

In [ ]:
print("The team witht the longest winning streak is",teams[2], "with", max(mcmp), "victories")

The team witht the longest winning streak is Ecuador with 29 victories

In [ ]:
# On va essayer de sortir la date du premier match de la serie, et du dernier match de la serie 
# On va sortir la meme chose mais en considérant aussi les matchs nuls pour avoir la plus longue série d'invincibilité
# On va sortir la plus longue série de défaite

In [ ]:
a = [["a","b"],["c","d"],["e","f"]]

print(a)

[['a', 'b'], ['c', 'd'], ['e', 'f']]

In [ ]:
print(a[1])

['c', 'd']

In [ ]:
a[1] = ["x","y"]

In [ ]:
print(a)

[['a', 'b'], ['x', 'y'], ['e', 'f']]

In [ ]:
u = []
u.append(['a','b'])
print(u)

[['a', 'b']]

In [ ]:
print(sport_data.iloc[3,16])

Win

In [ ]:
ekip = 'Bolivia'

for a in range(len(sport_data)):
    if (ekip == sport_data.iloc[a,2]) and (sport_data.iloc[a,16] == 'Lose') :
        print("match gagné le", sport_data.iloc[a,0])

match gagné le 1994-04-07
match gagné le 1994-09-21
match gagné le 1995-06-18
match gagné le 1995-07-11
match gagné le 1996-02-11
match gagné le 1996-06-12
match gagné le 1999-03-05
match gagné le 2007-03-28
match gagné le 2008-03-26
match gagné le 2015-06-15
match gagné le 2017-06-02
match gagné le 2018-10-13
match gagné le 2019-03-26
match gagné le 2021-11-05

In [ ]:
ekip = 'Bolivia'

for a in range(len(sport_data)):
    if (ekip == sport_data.iloc[a,1]) and (sport_data.iloc[a, 16] == 'Win'):
        print("match gagné le", sport_data.iloc[a,0])

match gagné le 1993-08-08
match gagné le 1993-08-15
match gagné le 1993-08-22
match gagné le 1994-05-04
match gagné le 1996-02-14
match gagné le 1996-03-07
match gagné le 1996-07-07
match gagné le 1997-01-12
match gagné le 1997-03-23
match gagné le 1997-04-02
match gagné le 1997-06-12
match gagné le 1997-06-15
match gagné le 1997-06-18
match gagné le 1997-06-21
match gagné le 1997-06-25
match gagné le 1997-07-20
match gagné le 2000-03-05
match gagné le 2000-07-19
match gagné le 2000-10-08
match gagné le 2001-06-03
match gagné le 2001-11-07
match gagné le 2003-08-31
match gagné le 2003-09-10
match gagné le 2003-10-11
match gagné le 2004-06-01
match gagné le 2004-10-09
match gagné le 2005-03-29
match gagné le 2006-11-15
match gagné le 2008-02-06
match gagné le 2008-06-18
match gagné le 2008-08-20
match gagné le 2008-10-11
match gagné le 2009-04-01
match gagné le 2009-10-11
match gagné le 2012-02-29
match gagné le 2012-06-09
match gagné le 2012-08-15
match gagné le 2012-10-16
match gagné le 2014-11-18
match gagné le 2015-11-12
match gagné le 2016-11-15
match gagné le 2017-03-28
match gagné le 2017-06-07
match gagné le 2017-09-05
match gagné le 2019-10-15
match gagné le 2021-06-03
match gagné le 2021-10-10
match gagné le 2021-10-14
match gagné le 2021-11-16
match gagné le 2022-01-21