In [34]:
# libraries 

import pandas as pd 
import numpy as np 
import datetime
# Loading file 

sport_data_to_load = "fifa_world_cup.csv"

# Read Sport Data file and store into Pandas Data FRame

sport_data = pd.read_csv(sport_data_to_load)
sport_data

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [4]:
# task 5 - What team has the longest winning streak ??
# 1- Creer une liste de tous les pays unique 
# 2- parcourir cette liste et si on le trouve dans home ou away ET que le resultat convient incrémenter le compteur et stocker dans une nouvelle liste.
# 3- sortir les + grands compteurs de la liste et envoyer le nom du pays de l'indice qui convient dans la liste des pays


sport_data['home_team'].unique()
# type(sport_data['home_team'].unique())

array(['Bolivia', 'Brazil', 'Ecuador', 'Guinea', 'Paraguay', 'Peru',
       'Zimbabwe', 'Faroe Islands', 'Sweden', 'Australia', 'Colombia',
       'Congo', 'Uruguay', 'Argentina', 'Austria', 'Denmark', 'Iceland',
       'Estonia', 'Eswatini', 'Albania', 'Bulgaria', 'England', 'Finland',
       'Hungary', 'Republic of Ireland', 'Northern Ireland', 'Norway',
       'Scotland', 'Spain', 'Venezuela', 'Morocco', 'Saudi Arabia',
       'Mexico', 'Romania', 'San Marino', 'Tunisia', 'Korea Republic',
       'Nigeria', 'Zambia', 'Japan', 'Cyprus', 'Belgium', 'Algeria',
       'Cameroon', 'Luxembourg', 'France', 'Germany', 'Italy',
       'Netherlands', 'Poland', 'Portugal', 'USA', 'Wales', 'Korea DPR',
       'IR Iran', 'Iraq', 'Burundi', 'Liechtenstein',
       'United Arab Emirates', 'Israel', 'Turkey', 'Egypt', 'Gabon',
       'Greece', 'Malta', 'Switzerland', 'Gambia', 'Sierra Leone',
       'Guinea-Bissau', 'Senegal', 'Mali', 'Ghana', 'Tahiti', 'Kenya',
       'Tanzania', 'Bangladesh', 'Barbados', 'Mauritania', 'Thailand',
       'Costa Rica', 'Suriname', 'Grenada', 'Qatar', 'Burkina Faso',
       "Côte d'Ivoire", 'Oman', 'Slovenia', 'Malawi', 'Cayman Islands',
       'Dominican Republic', 'Angola', 'Trinidad and Tobago', 'Lithuania',
       'Slovakia', 'South Africa', 'Kuwait', 'El Salvador', 'Honduras',
       'Chile', 'Fiji', 'Czech Republic', 'Ukraine', 'Russia', 'Canada',
       'North Macedonia', 'Latvia', 'Croatia', 'Botswana',
       'Solomon Islands', 'Vanuatu', 'Armenia', 'Georgia', 'Myanmar',
       'Niger', 'Namibia', 'Ethiopia', 'Liberia', 'Madagascar', 'Sudan',
       'India', 'Malaysia', 'Belarus', 'Moldova', 'Uganda', 'Mozambique',
       'Togo', 'Bahrain', 'Lesotho', 'Azerbaijan', 'Jamaica', 'Vietnam',
       'Mauritius', 'China PR', 'Hong Kong', 'New Zealand', 'Nepal',
       'Pakistan', 'Lebanon', 'Sri Lanka', 'Syria', 'Guyana', 'St. Lucia',
       'St. Kitts and Nevis', 'Antigua and Barbuda', 'Cuba',
       'St. Vincent and the Grenadines', 'Indonesia', 'Uzbekistan',
       'Panama', 'Nicaragua', 'Cabo Verde', 'Dominica', 'Guatemala',
       'Yemen', 'Philippines', 'Kyrgyz Republic', 'Macau', 'Turkmenistan',
       'Aruba', 'Haiti', 'Tajikistan', 'Belize', 'Rwanda', 'Kazakhstan',
       'Maldives', 'Singapore', 'Benin', 'Jordan', 'Seychelles',
       'Cambodia', 'Laos', 'Brunei Darussalam',
       'Central African Republic', 'Bosnia and Herzegovina', 'Tonga',
       'Papua New Guinea', 'Libya', 'Andorra', 'Chad',
       'Equatorial Guinea', 'Cook Islands', 'Samoa',
       'British Virgin Islands', 'Bermuda', 'Eritrea', 'Somalia',
       'São Tomé and Príncipe', 'Congo DR', 'US Virgin Islands',
       'Anguilla', 'Puerto Rico', 'Bahamas', 'Montserrat', 'Palestine',
       'Djibouti', 'American Samoa', 'Mongolia', 'Bhutan', 'Guam',
       'Afghanistan', 'Turks and Caicos Islands', 'Serbia',
       'New Caledonia', 'Montenegro', 'Timor-Leste', 'Comoros',
       'Chinese Taipei', 'Curaçao', 'South Sudan', 'Kosovo', 'Gibraltar'],
      dtype=object)

In [5]:
teams = sport_data['home_team'].unique().tolist()
teams

['Bolivia',
 'Brazil',
 'Ecuador',
 'Guinea',
 'Paraguay',
 'Peru',
 'Zimbabwe',
 'Faroe Islands',
 'Sweden',
 'Australia',
 'Colombia',
 'Congo',
 'Uruguay',
 'Argentina',
 'Austria',
 'Denmark',
 'Iceland',
 'Estonia',
 'Eswatini',
 'Albania',
 'Bulgaria',
 'England',
 'Finland',
 'Hungary',
 'Republic of Ireland',
 'Northern Ireland',
 'Norway',
 'Scotland',
 'Spain',
 'Venezuela',
 'Morocco',
 'Saudi Arabia',
 'Mexico',
 'Romania',
 'San Marino',
 'Tunisia',
 'Korea Republic',
 'Nigeria',
 'Zambia',
 'Japan',
 'Cyprus',
 'Belgium',
 'Algeria',
 'Cameroon',
 'Luxembourg',
 'France',
 'Germany',
 'Italy',
 'Netherlands',
 'Poland',
 'Portugal',
 'USA',
 'Wales',
 'Korea DPR',
 'IR Iran',
 'Iraq',
 'Burundi',
 'Liechtenstein',
 'United Arab Emirates',
 'Israel',
 'Turkey',
 'Egypt',
 'Gabon',
 'Greece',
 'Malta',
 'Switzerland',
 'Gambia',
 'Sierra Leone',
 'Guinea-Bissau',
 'Senegal',
 'Mali',
 'Ghana',
 'Tahiti',
 'Kenya',
 'Tanzania',
 'Bangladesh',
 'Barbados',
 'Mauritania',
 'Thailand',
 'Costa Rica',
 'Suriname',
 'Grenada',
 'Qatar',
 'Burkina Faso',
 "Côte d'Ivoire",
 'Oman',
 'Slovenia',
 'Malawi',
 'Cayman Islands',
 'Dominican Republic',
 'Angola',
 'Trinidad and Tobago',
 'Lithuania',
 'Slovakia',
 'South Africa',
 'Kuwait',
 'El Salvador',
 'Honduras',
 'Chile',
 'Fiji',
 'Czech Republic',
 'Ukraine',
 'Russia',
 'Canada',
 'North Macedonia',
 'Latvia',
 'Croatia',
 'Botswana',
 'Solomon Islands',
 'Vanuatu',
 'Armenia',
 'Georgia',
 'Myanmar',
 'Niger',
 'Namibia',
 'Ethiopia',
 'Liberia',
 'Madagascar',
 'Sudan',
 'India',
 'Malaysia',
 'Belarus',
 'Moldova',
 'Uganda',
 'Mozambique',
 'Togo',
 'Bahrain',
 'Lesotho',
 'Azerbaijan',
 'Jamaica',
 'Vietnam',
 'Mauritius',
 'China PR',
 'Hong Kong',
 'New Zealand',
 'Nepal',
 'Pakistan',
 'Lebanon',
 'Sri Lanka',
 'Syria',
 'Guyana',
 'St. Lucia',
 'St. Kitts and Nevis',
 'Antigua and Barbuda',
 'Cuba',
 'St. Vincent and the Grenadines',
 'Indonesia',
 'Uzbekistan',
 'Panama',
 'Nicaragua',
 'Cabo Verde',
 'Dominica',
 'Guatemala',
 'Yemen',
 'Philippines',
 'Kyrgyz Republic',
 'Macau',
 'Turkmenistan',
 'Aruba',
 'Haiti',
 'Tajikistan',
 'Belize',
 'Rwanda',
 'Kazakhstan',
 'Maldives',
 'Singapore',
 'Benin',
 'Jordan',
 'Seychelles',
 'Cambodia',
 'Laos',
 'Brunei Darussalam',
 'Central African Republic',
 'Bosnia and Herzegovina',
 'Tonga',
 'Papua New Guinea',
 'Libya',
 'Andorra',
 'Chad',
 'Equatorial Guinea',
 'Cook Islands',
 'Samoa',
 'British Virgin Islands',
 'Bermuda',
 'Eritrea',
 'Somalia',
 'São Tomé and Príncipe',
 'Congo DR',
 'US Virgin Islands',
 'Anguilla',
 'Puerto Rico',
 'Bahamas',
 'Montserrat',
 'Palestine',
 'Djibouti',
 'American Samoa',
 'Mongolia',
 'Bhutan',
 'Guam',
 'Afghanistan',
 'Turks and Caicos Islands',
 'Serbia',
 'New Caledonia',
 'Montenegro',
 'Timor-Leste',
 'Comoros',
 'Chinese Taipei',
 'Curaçao',
 'South Sudan',
 'Kosovo',
 'Gibraltar']

In [6]:
len(teams)

211

In [7]:
sport_data['home_team_result'].groupby(sport_data['home_team']).count()

home_team
Afghanistan        36
Albania           131
Algeria           159
American Samoa     17
Andorra            97
                 ...
Vietnam           120
Wales             129
Yemen              87
Zambia            180
Zimbabwe          135
Name: home_team_result, Length: 211, dtype: int64

In [20]:
cmp = 0 
#winning_streak = []
teams = sport_data['home_team'].unique().tolist()
lcmp = []
mcmp = []

for x in teams : 
    for i in range(len(sport_data)):
        if (x == sport_data.iloc[i,1]) and (sport_data.iloc[i, 16] == 'Win'):
            cmp = cmp+1
        if (x == sport_data.iloc[i,2]) and (sport_data.iloc[i,16] == 'Lost'):
            cmp = cmp+1
        if (x == sport_data.iloc[i,1]) and (sport_data.iloc[i,16] == 'Lost'):
            lcmp.append(cmp)
            cmp = 0
        if (x == sport_data.iloc[i,2]) and (sport_data.iloc[i,16] == 'Win'):
            lcmp.append(cmp)
            cmp = 0
    mcmp.append(max(lcmp))
    lcmp=[]

In [22]:
print(mcmp)

[8, 15, 29, 4, 7, 7, 7, 2, 8, 10, 9, 3, 7, 8, 15, 9, 4, 3, 5, 4, 5, 15, 4, 6, 13, 5, 7, 5, 26, 5, 20, 14, 13, 18, 1, 15, 11, 8, 5, 11, 6, 12, 9, 10, 7, 21, 19, 20, 24, 11, 13, 10, 4, 5, 14, 6, 5, 1, 13, 5, 5, 14, 7, 7, 4, 8, 3, 6, 2, 10, 8, 7, 6, 7, 5, 6, 6, 3, 12, 6, 5, 3, 11, 8, 8, 12, 6, 7, 2, 5, 5, 10, 2, 6, 12, 7, 6, 7, 7, 5, 12, 6, 6, 9, 5, 4, 7, 8, 4, 3, 4, 3, 3, 2, 4, 7, 4, 4, 5, 8, 7, 4, 2, 7, 6, 6, 8, 4, 4, 7, 7, 2, 13, 5, 5, 7, 3, 8, 4, 5, 8, 3, 5, 4, 6, 5, 8, 5, 7, 3, 6, 3, 9, 4, 4, 3, 2, 7, 3, 4, 3, 3, 4, 3, 6, 6, 3, 6, 2, 4, 3, 3, 2, 4, 3, 3, 6, 2, 2, 3, 2, 5, 1, 9, 2, 1, 2, 4, 1, 1, 2, 2, 2, 4, 1, 1, 2, 1, 2, 4, 1, 5, 6, 5, 2, 2, 4, 4, 2, 7, 1]

In [39]:
print(mcmp.index(max(mcmp)))
print(teams[2])

2
Ecuador

Task 5 result : 
We found that Ecuador is the team with the longest winning streak : 29 matchs