In [22]:
# libraries 

import pandas as pd 
import numpy as np 
import datetime
# Loading file 

sport_data_to_load = "fifa_world_cup.csv"

# Read Sport Data file and store into Pandas Data FRame

sport_data = pd.read_csv(sport_data_to_load)
sport_data

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [24]:
sport_data['datetime'] = pd.to_datetime(sport_data['date'])
sport_data['year'] = sport_data['datetime'].dt.year

sport_data['year']

0        1993
1        1993
2        1993
3        1993
4        1993
         ...
23916    2022
23917    2022
23918    2022
23919    2022
23920    2022
Name: year, Length: 23921, dtype: int64

In [61]:
sport_data.groupby('home_team').count().sort_values(by='date', ascending = False)

,date,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,...,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,datetime,year
home_team,,,,,,,,,,,,,,,,,,,,,
Mexico,316,316,316,316,316,316,316,316,316,316,...,195,147,195,195,195,145,156,150,316,316
USA,314,314,314,314,314,314,314,314,314,314,...,187,130,187,187,187,133,137,137,314,314
Japan,280,280,280,280,280,280,280,280,280,280,...,115,104,122,163,175,99,103,102,280,280
Saudi Arabia,272,272,272,272,272,272,272,272,272,272,...,61,52,61,61,61,42,48,49,272,272
Qatar,249,249,249,249,249,249,249,249,249,249,...,0,66,0,0,0,44,48,53,249,249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Timor-Leste,16,16,16,16,16,16,16,16,16,16,...,0,4,0,0,0,1,1,1,16,16
Tonga,15,15,15,15,15,15,15,15,15,15,...,0,0,0,0,0,0,0,0,15,15
Anguilla,13,13,13,13,13,13,13,13,13,13,...,0,2,0,0,0,0,0,0,13,13
Cook Islands,10,10,10,10,10,10,10,10,10,10,...,0,0,0,0,0,0,0,0,10,10
Turks and Caicos Islands,8,8,8,8,8,8,8,8,8,8,...,0,0,0,0,0,0,0,1,8,8

In [51]:
sport_data['home_team_fifa_rank'].sort_values(ascending = True)
DT = sport_data.groupby('home_team_fifa_rank').count().reset_index()


DT.sort_values(by='home_team_fifa_rank')

,home_team_fifa_rank,date,home_team,away_team,home_team_continent,away_team_continent,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,datetime,year
0,1,198,198,198,198,198,198,198,198,198,...,110,90,110,110,110,92,95,90,198,198
1,2,187,187,187,187,187,187,187,187,187,...,112,103,112,112,112,97,100,99,187,187
2,3,209,209,209,209,209,209,209,209,209,...,144,130,144,144,144,131,132,130,209,209
3,4,197,197,197,197,197,197,197,197,197,...,128,111,128,128,128,109,110,108,197,197
4,5,198,198,198,198,198,198,198,198,198,...,139,115,139,139,139,112,120,116,198,198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,207,11,11,11,11,11,11,11,11,11,...,0,4,0,0,0,5,4,4,11,11
207,208,8,8,8,8,8,8,8,8,8,...,0,4,0,0,0,2,3,2,8,8
208,209,11,11,11,11,11,11,11,11,11,...,0,6,0,0,0,2,2,2,11,11
209,210,12,12,12,12,12,12,12,12,12,...,0,5,0,0,0,3,3,3,12,12
210,211,6,6,6,6,6,6,6,6,6,...,0,3,0,0,0,4,3,3,6,6